version: "3.8"

services:
  pocketbase:
    image: ghcr.io/muchobien/pocketbase:latest
    container_name: pocketbase
    ports:
      - "8090:8090"
    volumes:
      - ./pocketbase/pb_data:/pb_data
    command: ["serve", "--http=0.0.0.0:8090"]

  frontend:
    build: ./frontend
    container_name: rca-frontend
    ports:
      - "8080:80"
    depends_on:
      - pocketbase